include ../partials/header.pug
include ../partials/top_nav.pug

style.
  .parent{
  display: grid;
  grid-template-columns:  repeat(3, 3fr);
  grid-template-rows: 50px;
  background-color: white ;
  grid-auto-flow: row;
  }
  .ingredients {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  overflow: auto;
  }
  .picture {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  }
  .health{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;

  }
  .instruction{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 20px;
  }
  .header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  }

.parent
  .ingredients
    table.table
      th Ingredient
      th Amount
      each val in ingredients
        tr
          td=val.name
          td=`${val.amount} ${val.unit}`
  .picture
    .header
      h1=recipe_name
    img.image(src=image)
    .favorite
      form(id= 'favorite' action = '/favorite', method = 'get')
        a(style="display:block")
          if(user == undefined)
            button#btn.btn-primary.btn-block.login-btn(type='submit', disabled, style = 'background-color: grey') Favorite
          else
            button#btn.btn-primary.btn-block.login-btn(type='submit') Favorite
  .health
    iframe(src=health_info width="500px" height="820px" frameBorder="0")
  .instruction
    p=instructions

include ../partials/footer.pug
