include ../partials/header.pug
include ../partials/top_nav.pug

style.
  .col{
  margin:0px;
  padding: 0px;
  }
  .wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-template-rows: repeat( auto-fit, minmax(200px, 1fr) );
  grid-auto-flow: row;
  }
  .image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: fill;
  }
  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  object-fit: fill;
  }
  .text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }

#grid.wrapper
  if(data)
    each val, i in data
      .col
        a(href='/recipe?recipe='+val.id style="display:block")
          img.image(src=`https://spoonacular.com/recipeImages/${val.id}-556x370.jpg` alt=val.title)
          .overlay(id ='overlay'+i onmouseover='hoverControl("overlay'+i+'")' onmouseout='hoverControlStop("overlay'+i+'")' health=val.healthScore)
            text(id ='overlay'+i+'Text' name=val.title class="text")
include ../partials/footer.pug

head
  meta(charset='utf-8')
  title ReciMe
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  title reciMe-A happy happy place
  // Bootstrap and MyCSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  link(href='../resources/css/styleSheet.css' rel='stylesheet' type='text/css')
  link(href='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet')
  style(type='text/css').
    .well { //each white box
    border: 0;
    padding: 20px;
    min-height: 63px;
    background: #fff;
    }
    .dropdown-check-list {
    display: inline-block;
    }
    .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    }
    .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
    }
    .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    }
    .dropdown-check-list ul.items li {
    list-style: none;
    }
    .dropdown-check-list.visible .anchor {
    color: #0094ff;
    }
    .dropdown-check-list.visible .items {
    display: block;
    }
#list1.dropdown-check-list(tabindex='100')
  span.anchor Select Fruits
  ul.items
    li
      input(type='checkbox')
      | Apple
    li
      input(type='checkbox')
      | Orange
    li
      input(type='checkbox')
      | Grapes
    li
      input(type='checkbox')
      | Berry
    li
      input(type='checkbox')
      | Mango
    li
      input(type='checkbox')
      | Banana
    li
      input(type='checkbox')
      | Tomato
script(type='text/javascript').
  var checkList = document.getElementById('list1');
  checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
  if (checkList.classList.contains('visible'))
  checkList.classList.remove('visible');
  else
  checkList.classList.add('visible');
  }
  checkList.onblur = function(evt) {
  checkList.classList.remove('visible');
  }
